*{
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;

}


html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}
section{
    padding: 2rem 9%;

}


header{
    position: fixed;
    top: 0; left: 0; right: 0;
    background: #fff;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgb(0, 0, 0, .1);
}

.home .logo{
    font-size:3rem;
    color: rgb(54, 3, 90);
    font-weight: bolder;
    margin: auto;
    text-align: center;

}

.home .logo span{
    color: var(--pink);
}


.home{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: url('../images/farregtsbgimage.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}
.home .fds{
    font-size: 20px;
    font-weight: bold;
    margin: auto ;
    color: rgb(5, 5, 88);
}
.home  .sub{
    color: rgb(25, 25, 98);
    background-color: #57416b;
    color: #300d19;
    margin-left: 19rem;
    font-weight: bold;
    font-size: 20px;


    /*padding: 0.8em 0;*/
    /* border-radius: 2em;*/

    /*letter-spacing: 0.15em;*/
    margin-top: 0.8em;
}





/* media queries*/
@media (max-width:991px){

    html{
        font-size: 55%
    }
    header{
        padding: 2rem;
    }
    section{
        padding: 2rem;
    }
    .home{
        background-position: center;
    }

}

@media (max-width:768px){



}


@media (max-width:450px){

    html{
        font-size: 50%
    }
    .heading{
        font-size: 3rem;
    }

}