<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>login</title>
  <link rel="stylesheet" type="text/css" href="../css/login.css">
</head>
<body>
<section class="home">

  <h2>Login Page:</h2><br>
  <br>
  <a th:href="@{/flogin}" class="button">Farmer Login</a>
  <br><br>
  <h3>|</h3>
  <a th:href="@{/clogin}" class="button">Customer Login</a>




<!--  <a href="farmerlogin.html" class="register-btn">Farmer Login</a><br> <br>-->
<!--  <a href="customerlogin.html" class="register-btn">Customer Login</a>-->


</section>
</body>
</html>



<!--
<div id="farmerPopup" class="popup">
    <div class="popup-content">
        <a href="#" class="close">&times;</a>
        <h2>Farmer Registration</h2>
        <p>Farmer registration form goes here.</p>
    </div>
</div>

<div id="customerPopup" class="popup">
    <div class="popup-content">
        <a href="#" class="close">&times;</a>
        <h2>Customer Registration</h2>
        <p>Customer registration form goes here.</p>
    </div>
</div>
-->